@charset "UTF-8";
@import url(reset.css);
/* CSS Document */
/* Documento de CSS do Gabarito */

/*👉------- TÍTULO -------👈*/
/* 
p0tit1gab
p0tit1gabnegativo
p0tit2gab
p0tit2gabnegativo
p0tit3gab
p0tit3gabnegativo
*/
.p0tit1gab,
.p0tit1gabnegativo,
.p0tit2gab,
.p0tit2gabnegativo,
.p0tit3gab,
.p0tit3gabnegativo{
    font-family: var(--titulo);
    font-weight: bold;
    line-height: 1.5em;
    max-width: 100%;
}

.p0tit1gab{
    font-size: var(--peso1);
}
.p0tit1gabnegativo{}

.p0tit2gab{
    font-size: var(--peso2);
}
.p0tit2gabnegativo{}

.p0tit3gab{
    font-size: var(--peso3);
}
.p0tit3gabnegativo{}


/*👉------- TEXTO PRINCIPAL  -------👈*/
/* 
p2textogabsemrecuo
p2textogabsemrecuoitem
p2textogabsemrecuoitemcont
p2textogab
p2textogabitem
p2textogabitemcont
p2textogabmarcador
*/
.p2textogabsemrecuo,
.p2textogabsemrecuoitem,
.p2textogabsemrecuoitemcont,
.p2textogab,
.p2textogabitem,
.p2textogabitemcont,
.p2textogabmarcador{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
    max-width: 100%;
}

.p2textogabsemrecuo{
    margin: 0.5em 0 0.5em 0;
}
ul.p2textogabsemrecuoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p2textogabsemrecuoitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p2textogabsemrecuoitem::before{
content: ''; /*content: '•';*/
width: 24px;
height:24px ;
position: absolute;
margin:0 0 0 -26px ;
}

.p2textogabsemrecuoitemcont{
    margin: 0.5em 0 0.5em 1em;
}
.p2textogab{
    margin: 0.5em 0 0.5em 0;
    text-indent: 1.5em;
}
ul.p2textogabitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 2.5em;
}
p.p2textogabitem{
    margin: 0.5em 0 0.5em 2.5em;
}
p.p2textogabitem::before{
    content: ''; /*content: '•';*/
    width: 24px;
    height:24px ;
    position: absolute;
    margin:0 0 0 -26px ;
    }

.p2textogabitemcont {
    margin: 0.5em 0 0.5em 2.5em;
}
.p2textogabmarcador{
    margin: 0.5em 0 0.5em 3.5em;
}

/*👉------- QUESTÃO DO GABARITO  -------👈*/
/* 
p2questaogab
p2questaogabcont
p2questaogabmarcador
p2questaogabmarcadorcont
p2questaogabitem
p2questaogabitemcont
p2questaogabsubitem
p2questaogabsubitemcont
p2questaogabletra
p2questaogabletracont
p2questaogabletraitem
p2questaogabletraitemcont
*/
.p2questaogab,
.p2questaogabcont,
.p2questaogabmarcador,
.p2questaogabmarcadorcont,
.p2questaogabitem,
.p2questaogabitemcont,
.p2questaogabsubitem,
.p2questaogabsubitemcont,
.p2questaogabletra,
.p2questaogabletracont,
.p2questaogabletraitem,
.p2questaogabletraitemcont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: left;
}

.p2questaogab{
    margin: 0.5em 0 0.5em 0;
}
.p2questaogabcont{
    margin: 0.5em 0 0.5em 0;
}
.p2questaogabmarcador{
    margin: 0.5em 0 0.5em 2em;
}
.p2questaogabmarcadorcont{
    margin: 0.5em 0 0.5em 2em;
}
ul.p2questaogabitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p2questaogabitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p2questaogabitem::before{
    content: ''; /*content: '';*/
    width: 24px ;
    height:24px ;
    position: absolute;
    margin:0 0 0 -26px;
}

.p2questaogabitemcont{
    margin: 0.5em 0 0.5em 1em;
}
ul.p2questaogabsubitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 2em;
}
p.p2questaogabsubitem{
    margin: 0.5em 0 0.5em 2em;
}
.p2questaogabsubitem::before{
    content: ''; /*content: '';*/
    width: 24px ;
    height:24px ;
    position: absolute;
    margin:0 0 0 -26px;
}
.p2questaogabsubitemcont{
    margin: 0.5em 0 0.5em 2em;
}

.p2questaogabletra{
    margin: 0.5em 0 0.5em 2em;
}
.p2questaogabletracont{
    margin: 0.5em 0 0.5em 2em;
}
ul.p2questaogabletraitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3.5em;
}
p.p2questaogabletraitem{
    margin: 0.5em 0 0.5em 3.5em;
}
p.p2questaogabletraitem::before{
    content: ''; /*content: '';*/
    width: 24px ;
    height:24px ;
    position: absolute;
    margin:0 0 0 -26px;
}
.p2questaogabletraitemcont{
    margin: 0.5em 0 0.5em 3.5em;
}

/*👉------- ATIVIDADE DO GABARITO  -------👈*/
/* 
p2atvgab
p2atvgabcont
p2atvgabromano
p2atvgabromanocont
p2atvgabitem
p2atvgabitemcont
p2atvgabsubitem
p2atvgabitemletra
p2atvgabitemletracont
p2atvgabletra
p2atvgabletracont
p2atvgabletraitembullet
p2atvgabletraitembulletcont
p2atvgabletraromano
p2atvgabletraromanocont
p2atvgabletrasubromano
p2atvgabnumitem
p2atvgabnumletra
p2atvgabnumletraitem
p2atvgabletraitem
p2atvgabnumromano
p2atvgabsomatoria
p2atvgabsomatoriacont
*/
.p2atvgab,
.p2atvgabcont,
.p2atvgabromano,
.p2atvgabromanocont,
.p2atvgabitem,
.p2atvgabitemcont,
.p2atvgabsubitem,
.p2atvgabitemletra,
.p2atvgabitemletracont,
.p2atvgabletra,
.p2atvgabletracont,
.p2atvgabletraitembullet,
.p2atvgabletraitembulletcont,
.p2atvgabletraromano,
.p2atvgabletraromanocont,
.p2atvgabletrasubromano,
.p2atvgabnumitem,
.p2atvgabnumletra,
.p2atvgabnumletraitem,
.p2atvgabletraitem,
.p2atvgabnumromano,
.p2atvgabsomatoria,
.p2atvgabsomatoriacont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}

.p2atvgab{
    margin: 0.5em 0 0.5em 2em;
}
.p2atvgabcont{
    margin: 0.5em 0 0.5em 2em;
}
.p2atvgabromano{
    margin: 0.5em 0 0.5em 3em;
}
.p2atvgabromanocont{
    margin: 0.5em 0 0.5em 3em;
}
ul.p2atvgabitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}
p.p2atvgabitem{
    margin: 0.5em 0 0.5em 3em;
}
p.p2atvgabitem::before{
content: ''; /*content: '•';*/ 
width:24px ;
height: 24px ;
position: absolute;
margin: 0 0 0 -26px;
}

.p2atvgabitemcont{
    margin: 0.5em 0 0.5em 3em;
}
ul.p2atvgabsubitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 4em;
}
p.p2atvgabsubitem{
    margin: 0.5em 0 0.5em 4em;
}
p.p2atvgabsubitem::before{
    content: ''; /*content: '•';*/ 
    width:24px ;
    height: 24px ;
    position: absolute;
    margin: 0 0 0 -26px;
    }

.p2atvgabitemletra{
    margin: 0.5em 0 0.5em 4.5em;
}
.p2atvgabitemletracont{
    margin: 0.5em 0 0.5em 4.5em;
}
.p2atvgabletra{
    margin: 0.5em 0 0.5em 3em;
}
.p2atvgabletracont{
    margin: 0.5em 0 0.5em 3em;
}
ul.p2atvgabletraitembullet{
    list-style: disc;
    margin: 0.5em 0 0.5em 4.5em;
}
p.p2atvgabletraitembullet{
    margin: 0.5em 0 0.5em 4.5em;
}
p.p2atvgabletraitembullet::before{
    content: ''; /*content: '•';*/ 
    width:24px ;
    height: 24px ;
    position: absolute;
    margin: 0 0 0 -26px;
    }

.p2atvgabletraitembulletcont{
    margin: 0.5em 0 0.5em 4.5em;
}
.p2atvgabletraromano{
    margin: 0.5em 0 0.5em 5.5em;
}
.p2atvgabletraromanocont{
    margin: 0.5em 0 0.5em 5.5em;
}
.p2atvgabletrasubromano{
    margin: 0.5em 0 0.5em 5.5em;
}
.p2atvgabletrasubromano>.c0destaqueletra {
    margin: 0 0 0 -50px;
   text-align: center;
 }

.p2atvgabnumitem{
    margin: 0.5em 0 0.5em 3.5em;
}
.p2atvgabnumitem>.c0destaquenumero {
    margin: 0 0 0 -52px;
  }

.p2atvgabnumletra{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvgabnumletra>.c0destaquenumero {
    margin: 0 0 0 -60px;
  }
.p2atvgabnumletra>.c0destaqueletra {
     margin: 0 0 0 -30px;
    text-align: center;
  }

.p2atvgabnumletraitem{
    margin: 0.5em 0 0.5em 5.3em;
}
.p2atvgabnumletraitem>.c0destaquenumero {
    margin: 0 0 0 -80px;
  }
  .p2atvgabnumletraitem>.c0destaqueletra {
    margin: 0 0 0 -50px;
  }
.p2atvgabletraitem{
    margin: 0.5em 0 0.5em 5.3em;
}
.p2atvgabletraitem>.c0destaqueletra {
    margin: 0 0 0 -50px;
  }
.p2atvgabnumromano{
    margin: 0.5em 0 0.5em 4.5em;
}
.p2atvgabnumromano>.c0destaquenumero {
    margin: 0 0 0 -70px;
  }
.p2atvgabsomatoria{
    margin: 0.5em 0 0.5em 4.5em;
}
.p2atvgabsomatoriacont{
    margin: 0.5em 0 0.5em 4.5em;
}


/*👉------- TEXTO INTERMEDIÁRIO  -------👈*/
/* 
p3intermediariogabtit
p3intermediariogab
p3intermediariogabitem
p3intermediariogabitemcont
p3intermediariogabsemrecuo
p3intermediariogabsemrecuoitem
p3intermediariogabsemrecuoitemcont
p3intermediariogabsemrecuonumero
p3intermediariogabsemrecuonumerocont
p3intermediariogabsemrecuoletra
p3intermediariogabsemrecuoletracont
*/
.p3intermediariogabtit,
.p3intermediariogab,
.p3intermediariogabitem,
.p3intermediariogabitemcont,
.p3intermediariogabsemrecuo,
.p3intermediariogabsemrecuoitem,
.p3intermediariogabsemrecuoitemcont,
.p3intermediariogabsemrecuonumero,
.p3intermediariogabsemrecuonumerocont,
.p3intermediariogabsemrecuoletra,
.p3intermediariogabsemrecuoletracont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}

.p3intermediariogabtit{
    font-family: var(--titulo);
    font-size: var(--peso6);
    font-weight: bold;
    max-width: 100%;
    margin: 0.5em 0 0.5em 0;
}
.p3intermediariogab{
    margin: 0.5em 0 0.5em 0;
    text-indent:1.5em;
}
ul.p3intermediariogabitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 2.5em;
}
p.p3intermediariogabitem{
    margin: 0.5em 0 0.5em 2.5em;
}
.p3intermediariogabitem::before{
content: ''; /*content: '•';*/
width: 24px ;
height: 24px ;
position: absolute;
margin:0 0 0 -26px ;
}

.p3intermediariogabitemcont{
    margin: 0.5em 0 0.5em 2.5em;
}
.p3intermediariogabsemrecuo{
    list-style: disc;
    margin: 0.5em 0 0.5em 0em;
}

    ul.p3intermediariogabsemrecuoitem{
        list-style: disc;
        margin: 0.5em 0 0.5em 1em;
    }
    p.p3intermediariogabsemrecuoitem{
        margin: 0.5em 0 0.5em 1em;
    }
    p.p3intermediariogabsemrecuoitem::before{
        content: ''; /*content: '•';*/
        width: 24px ;
        height: 24px ;
        position: absolute;
        margin:0 0 0 -26px ;
        }
    
.p3intermediariogabsemrecuoitemcont{
    margin: 0.5em 0 0.5em 1em;
}

.p3intermediariogabsemrecuonumero{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediariogabsemrecuonumerocont{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediariogabsemrecuoletra{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediariogabsemrecuoletracont{
    margin: 0.5em 0 0.5em 2em;
}


/*👉------- SEÇÃO -------👈*/ 
/* 
p1sec1tit1
p1sec1tit2
p1sec1tit3
p1sec2tit1
p1sec2tit2
p1sec2tit3
p1sec3tit1
p1sec3tit2
p1sec3tit3
p1sec4tit1
p1sec4tit2
p1sec4tit3
p1sec5tit1
p1sec5tit2
p1sec5tit3
p1sec6tit1
p1sec6tit2
p1sec6tit3
*/
.p1sec1tit1{}
.p1sec1tit2{}
.p1sec1tit3{}

.p1sec2tit1{}
.p1sec2tit2{}
.p1sec2tit3{}

.p1sec3tit1{}
.p1sec3tit2{}
.p1sec3tit3{}

.p1sec4tit1{}
.p1sec4tit2{}
.p1sec4tit3{}

.p1sec5tit1{}
.p1sec5tit2{}
.p1sec5tit3{}

.p1sec6tit1{}
.p1sec6tit2{}
.p1sec6tit3{}

/* OBS.: Estas categorias estão presentes no styles_lt.css */
/*👉------- LEGENDA -------👈*/ 
/*👉------- CRÉDITO GERAL -------👈*/
/*👉------- CRÉDITO IMAGEM  -------👈*/
/*👉------- COTAS  -------👈*/
/*👉------- RECADO IMAGEM E MEDIDA ANIMAL -------👈*/
/*👉------- TABELA -------👈*/
/*👉------- QUADRO -------👈*/
/*👉------- GRÁFICO -------👈*/ 
/*👉------- MAPAS -------👈*/ 
/*👉------- MARCADORES -------👈*/
/*👉------- ESTILOS DE CARACTER -------👈*/


/*MEDIA QUERY*/
/*👉Versão Mobile Cel👈*/
@media screen and (min-width: 300px) and (max-width: 700px) {}

/*👉Versão Mobile tablet👈*/
@media screen and (min-width: 720px) and (max-width: 1024px) {}

/*👉Versão Desktop👈*/
@media screen and (min-width: 1200px) {}

/*👉Versão IMPRESSÃO👈*/
@media print and (max-height: 280mm) {}