@charset "UTF-8";
@import url(reset.css);
@import url(colorfonts.css);
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--texto);
    font-size: var(--pesoPadrao);   
    line-height: 1.5em;
    overflow-x: hidden;
    hyphens: none;   
}
main {
    max-width: 85ch;
    margin: 0 auto;
    
}
section {
    box-sizing: border-box;
    margin-bottom: 2.5em;
    page-break-before: always;
    page-break-after: avoid;
}
section header {
    padding: 15px 0 0px 0;
    display: flex;
    flex-direction: column;
}
blockquote {
    font-size: 1em;
    max-width: 100%;
}
figure {
    margin: 1em 0.5em;
    display: table;
}
figure img {
    display: block;
    max-width: 100%;
    height: auto;
}
figcaption.p4legenda {
    display: table-caption;
    caption-side: bottom;
    hyphens: none;
}
figcaption.legenda2 {
    display: table-caption;
    caption-side: top;
    hyphens: none;
}

p, ul li {
    hyphens: none;
    max-width: 100%;
}

p {
    hyphens: none !important;
    line-height: 130%;    
    max-width: 100%;  
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

strong em, em strong  {
    font-weight: bold;
    font-style: italic;
}

table {
    max-width: 100%;
}

caption {
    font-family: var(--titulo);
    font-weight: bold;
    margin: 8px 0 0 0;
    padding: 4px 8px;
    text-align: center;
}


table tr td,
table tr th {
    padding: 8px;
}
table p {
    margin: 0px;
    padding: 0;
}


dfn sup {
    color: var(--preto);
    margin: 0 0 0 -2px;

}

dd sup {
    color: var(--preto);
    font-weight: bold;
    vertical-align: baseline;
    font-size: 1.1em;
}

/*👉 ----- IDs PARA MAPEAMENTO ------ 👈
//mathml_id_2028548792szo
//aj_pro_id_t092036697776uk
//lang_id_ed2047233561g
//glossario_id_mOm092057201488_glos
//glossario_id_mOm092057201488_voc
//list_id_gv2456551860w
*/

/*👉 CLASSES RESERVADAS DIGITAL 👈*/
/* 
d0box_aluno
d0box_geralmp
d0box_especificompu
d0box_resolucoesmp
d0box_respostas

aluno
professor
url_para_encurta
pag
caracterizada
descaracterizada
ajustepronuncia
conteudoOriginal
conteudoAdaptado
creditoimagemOED
creditoimagem
creditoimagemResposta
creditoimagemPage
orienta
orientatx
ocultatx
ocultamn
hifen_ano
*/
.aluno{}
.professor{}
.url_para_encurta{}
.pag{}
.d0box_aluno{
    padding: 0.5em 0 1em 0;
}
.d0box_especificompu{
    background: var(--manualu);
    padding: 0 1em 1em 1em;
}
.d0box_geralmp{}

.caracterizada{}
.descaracterizada{}
.ajustepronuncia{}
.conteudoOriginal{}
.conteudoAdaptado{}
.creditoimagemOED{}
.creditoimagem{}
.creditoimagemResposta{}
.creditoimagemPage{}

.orienta{
    background: var(--cinza);
    border-radius: 0 0 1em 1em;
    color: var(--preto);
    font-family: var(--titulo);
    text-align: center;
    padding: 0.5em 1em;
    margin: 0 0 1em 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.orientatx{
    font-family: var(--texto);
    padding: 0.5em 0;
}
.ocultatx, .ocultamn{
    color: transparent;
}
.ocultatx{
    font-size: 0.3em;
}
.ocultamn{
    font-size: 0.9em;
}
.hifen_ano{
    margin-left: -8px;
}


/* Visual do número da página */
header .pag {
    align-self: flex-end;
}
.pag {
    color: #000;
    font-family: var(--titulo);
    font-size: var(--pesoPadrao);
    font-weight: bold;
    padding: 4px 8px;    
    page-break-before: always;
    page-break-after: avoid;
    width: max-content;
}

/*👉CLASSES PARA DIAGRAMAR👈*/
/* COLUNAS E ALINHAMENTO */
.col2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col2c {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
}

.col2s {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 16px;
}

.col2d{}


/* Alinhamento vertical */
.coltop {
    align-items: flex-start;
}

.colcenter {
    align-items: center;
}

.colbottom {
    align-items: flex-end;
}

/* Alinhamento vertical de imagens dentro do parágrafo */
.imgbottom {
    vertical-align: text-bottom;
}

.imgtop {
    vertical-align: sub;
}

.ico,
.imgmiddle {
    vertical-align: middle;
}
/* ALINHA REPERTÓRIO E MARCADOR */

.alinhamarcador2{
    width: calc(100% - 3em) !important; 
    margin-left:3em !important;
} 
.alinhamarcador{
    max-width: 90% !important;
    margin-left:3em !important;
} 

.alinhapalavras{
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 colunas de tamanho igual */
    gap: 10px; /* Espaçamento entre os itens */
}

.semalinha{
    margin-left: 0 !important;
}

/* ALINHAMENTO DE TEXTO  */
.esquerda tr td,
.esquerda tr th,
.esquerda {
    text-align: left !important;
}

.direita tr td,
.direita tr th,
.direita {
    text-align: right;
}

.centro tr td,
.centro tr th,
.centro {
    text-align: center;
}

.justificado tr td,
.justificado tr th,
.justificado {
    text-align: justify;
}


.largura25 {
    width: 25% !important;
}

.largura33 {
    width: 33% !important;
}

.largura45 {
    width: 45% !important;
}


/*👉ESTILOS CONSUMIVEL👈*/
.linharesposta1, .linharesposta2,
.linharesposta3, .linharesposta4,
.linharesposta5{
    background: url(../images/linha_resposta.svg) ;
    width: 100%;
    margin: 1em 0;
}
.linharesposta1{
    height:20px;
}
.linharesposta2{ 
    height: 30px;
}
.linharesposta3{ 
    height: 50px;   
}
.linharesposta4{   
    height: 60px;   
}
.linharesposta5{    
    height: 80px;
   
}

.lacunarespostap, .lacunarespostam,
.lacunarespostag{
    background: url(../images/linha_resposta.svg) ;
    background-position-y:20px ;
    margin: 0 5px;
}
.lacunarespostap{
    padding:0em 1em;
}
.lacunarespostam{
    padding:0em 2.5em;
}
.lacunarespostag{  
    padding:0em 4.5em;
}

/*👉 ================ SUMÁRIO / APRESENTAÇÃO E CONHEÇA LT ==================👈*/
/* 
secsumario
sumariosecinicial
navsumario

p1sumariopv
p1seciniciaistit1
p1seciniciaistit2
p1sumariopeso1pv
p1sumariopeso1
p1sumariopeso2
p1sumariopeso3
p1sumariopeso4
p1sumariopeso5
p1sumarioextrapeso1
p1sumarioextrapeso2
p1sumarioextrapeso3
p1sumariopeso1numero
p1sumariopeso2numero
p1sumariooedpv
p1sumariooedpeso1
p1sumariooedpeso2

*/

.p1seciniciaistit1{}
.p1seciniciaistit2{}
.p1sumariopeso1pv{}

.p1sumariopeso1{}
.p1sumariopeso2{}
.p1sumariopeso3{}
.p1sumariopeso4{}
.p1sumariopeso5{}
.p1sumarioextrapeso1{}
.p1sumarioextrapeso2{}
.p1sumarioextrapeso3{}
.p1sumariopeso1numero{}
.p1sumariopeso2numero{}

.p1sumariooedpv{}
.p1sumariooedpeso1{}
.p1sumariooedpeso2{}

/*👉=================== ESTILOS MIOLO ================================👈*/
/* TÍTULOS  */
/* 
p0tit1
p0tit1numpv
p0tit1pv
p0tit2
p0tit2numpv
p0tit2pv
p0tit3
p0tit4
p0tit5
p0tit6
p0tit3negativo
p0tit4negativo
p0tit5negativo
p0tit6negativo
*/
.p0tit1{}
.p0tit1numpv{}
.p0tit1pv{}


.p0tit2{}
.p0tit2numpv{}
.p0tit2pv{}


.p0tit3{}
.p0tit4{}
.p0tit5{}
.p0tit6{}


.p0tit3negativo{}
.p0tit4negativo{}
.p0tit5negativo{}
.p0tit6negativo{}

/* TÍTULOS DE ELEMENTOS */

/* Tabelas e Quadros */
/* 
p1tabelatit
p1tabelatitcoluna
p1tabelatexto
p1tabelatextoitem
p1tabelatextoitemcont
*/
.p1tabelatit{}
.p1tabelatitcoluna{}
.p1tabelatexto{}
.p1tabelatextoitem{}
.p1tabelatextoitemcont{}

/* Especificação exclusiva do Digital */
.quadro td:first-child,
.quadro th:first-child {
    border: 1px solid var(--preto_);
}
.quadro td:last-child,
.quadro th:last-child {
    border: 1px solid var(--preto_);
}
.tabela td:first-child,
.tabela th:first-child,
.tabela caption {
    border-left: none;
}
.tabela td:last-child,
.tabela th:last-child,
.tabela caption  {
    border-right: none;
}

.tb_tabela {
    width: 100%;
    max-width: 100%;
    margin: 1em 0;
    box-sizing: border-box;
}
.tb_tabela td {
    border: 1px solid var(--preto_);
}
.tb_tabela th {
    border: 1px solid var(--preto_);
    background: var(--cinza);
    font-family: var(--titulo);
    font-size: 0.9em;
    text-align: center;
}
.tb_tabela tr td:empty,
.tb_tabela tr th:empty {
    height: 40px;
}

/* ESQUEMA */
/* 
p1esquematit
o2esquemabox
*/
.p1esquematit{
    font-family: var(--titulo);
    font-size: var(--peso7);
    font-weight: bold;
}
.o2esquemabox{}

/* GRÁFICOS */
/* 
p1graficotit
o2graficogravata1
o2graficogravata2
*/
.p1graficotit{}
.o2graficogravata1{}
.o2graficogravata2{}

/* MAPAS */
/* 
p1mapatit
o2mapagravata1
o2mapagravata2
*/
.p1mapatit{}
.o2mapagravata1{}
.o2mapagravata2{}

/* TÍTULO BOX */
/* 
p1box1tit
p1box2tit
p1box3tit
*/
.p1box1tit{
    font-family: var(--titulo);
    font-weight: bold;
    color: var(--branco);
}
.p1box2tit{
    font-family: var(--titulo);
    font-weight: bold;
    color: var(--preto);
}
.p1box3tit{
    font-family: var(--titulo);
    font-weight: bold;
    color: var(--preto);
}

/* TÍTULO SEÇÃO */
/* 
p1sec1tit1
p1sec1tit2
p1sec1tit3
p1sec1tit4
p1sec2tit1
p1sec2tit2
p1sec2tit3
p1sec2tit4
p1sec3tit1
p1sec3tit2
p1sec3tit3
p1sec3tit4
p1sec4tit1
p1sec4tit2
p1sec4tit3
p1sec4tit4
p1sec5tit1
p1sec5tit2
p1sec5tit3
p1sec5tit4
p1sec6tit1
p1sec6tit2
p1sec6tit3
p1sec6tit4
p1sec7tit1
p1sec7tit2
p1sec7tit3
p1sec7tit4
p1sec8tit1
p1sec8tit2
p1sec8tit3
p1sec8tit4
p1sec9tit1
p1sec9tit2
p1sec9tit3
p1sec9tit4
p1sec10tit1
p1sec10tit2
p1sec10tit3
p1sec10tit4
*/
.p1sec1tit1{}
.p1sec1tit2{}
.p1sec1tit3{}
.p1sec1tit4{}

.p1sec2tit1{}
.p1sec2tit2{}
.p1sec2tit3{}
.p1sec2tit4{}

.p1sec3tit1{}
.p1sec3tit2{}
.p1sec3tit3{}
.p1sec3tit4{}

.p1sec4tit1{}
.p1sec4tit2{}
.p1sec4tit3{}
.p1sec4tit4{}

.p1sec5tit1{}
.p1sec5tit2{}
.p1sec5tit3{}
.p1sec5tit4{}

.p1sec6tit1{}
.p1sec6tit2{}
.p1sec6tit3{}
.p1sec6tit4{}

.p1sec7tit1{}
.p1sec7tit2{}
.p1sec7tit3{}
.p1sec7tit4{}

.p1sec8tit1{}
.p1sec8tit2{}
.p1sec8tit3{}
.p1sec8tit4{}

.p1sec9tit1{}
.p1sec9tit2{}
.p1sec9tit3{}
.p1sec9tit4{}

.p1sec10tit1{}
.p1sec10tit2{}
.p1sec10tit3{}
.p1sec10tit4{}

/*👉 SUGESTÕES COMPLEMENTARES 👈*/
/* 
p1sugestcomptit1
p1sugestcomptit2
p1sugestcomptit3
p2sugestcomp
p2sugestcompitem
p2sugestcompcoment
*/
.p1sugestcomptit1{}
.p1sugestcomptit2{}
.p1sugestcomptit3{}
.p2sugestcomp{}
.p2sugestcompitem{}
.p2sugestcompcoment{}

/*👉REFERÊNCIAS BIBLIOGRAFICAS👈*/
/* 
p1referenciasbibliotit1
p1referenciasbibliotit2
p1referenciasbibliotit3
p2referenciasbiblio
p2referenciasbiblioitem
p2referenciasbibliocoment
*/
.p2referenciasbiblio,
.p2referenciasbiblioitem,
.p2referenciasbibliocoment{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: left;
    max-width: 100%;
}

.p1referenciasbibliotit1{
    font-family: var(--titulo);
    font-size: var(--peso2);
    font-weight: bold;
    width: max-content;
    max-width: 100%;
    margin: 0.5em 0 0.5em 0;
}
.p1referenciasbibliotit2{
    font-family: var(--titulo);
    font-size: var(--peso6);
    font-weight: bold;
    width: max-content;
    max-width: 100%;
    margin:1em 0 0.5em 0;
}
.p1referenciasbibliotit3{}
.p2referenciasbiblio{
    margin: 1em 0 0.1em 0;
    word-break: break-all;
}
.p2referenciasbiblioitem{}
.p2referenciasbibliocoment{
    margin: 0 0 0.5em 0;
}

/*👉======= TEXTOS PESO: principal =======👈*/
/* TEXTO SEM RECUO PRINCIPAL */
/* 
p2textosemrecuo
p2textosemrecuoitem
p2textosemrecuoitemcont
p2textonumsemrecuo
p2textomarcadorsemrecuo
p2textomarcadorsemrecuocont
p2textomarcadorsemrecuoromano
p2textosemrecuonum
p2textosemrecuonumcont
p2textosemrecuonumitem
p2textosemrecuonumitemcont
p2textosemrecuonumletra
p2textosemrecuonumletracont
p2textosemrecuoletra
*/
.p2textosemrecuo,
.p2textosemrecuoitem,
.p2textosemrecuoitemcont,
.p2textonumsemrecuo,
.p2textomarcadorsemrecuo,
.p2textomarcadorsemrecuocont,
.p2textomarcadorsemrecuoromano,
.p2textosemrecuonum,
.p2textosemrecuonumcont,
.p2textosemrecuonumitem,
.p2textosemrecuonumitemcont,
.p2textosemrecuonumletra,
.p2textosemrecuonumletracont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}
.p2textosemrecuo{
    margin: 0.5em 0;
}
ul.p2textosemrecuoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p2textosemrecuoitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p2textosemrecuoitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textosemrecuoitemcont{
    margin: 0.5em 0 0.5em 1em;
}
.p2textonumsemrecuo{
    margin: 0.5em 0 0.5em 2em;
}
.p2textomarcadorsemrecuo{
    margin: 0.5em 0 0.5em 2em;
}
.p2textomarcadorsemrecuocont{
    margin: 0.5em 0 0.5em 2em;
}
.p2textomarcadorsemrecuoromano{
    margin: 0.5em 0 0.5em 2.5em;
}
.p2textosemrecuonum{
    margin: 0.5em 0 0.5em 2em;
}
.p2textosemrecuonumcont{
    margin: 0.5em 0 0.5em 2em;
}
ul.p2textosemrecuonumitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3.5em;
}
p.p2textosemrecuonumitem{
    margin: 0.5em 0 0.5em 3.5em;
}
p.p2textosemrecuonumitem::before{
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    width:10px ;
    height:10px ;
    position: absolute;
    margin:0 0 0 -14px ;
    }
.p2textosemrecuonumitemcont{
    margin: 0.5em 0 0.5em 3.5em;
}
.p2textosemrecuonumletra{
    margin: 0.5em 0 0.5em 3.5em;
}
.p2textosemrecuonumletracont{
    margin: 0.5em 0 0.5em 3.5em;
}
/*👉FIXME: Cria o css 👈*/
.p2textosemrecuoletra {
    margin: 0.5em 0 0.5em 2em;
}


/* TEXTO PRINCIPAL */
/* 
p2texto
p2textoitem
p2textoitemcont
p2textosubitem
p2textosubitemcont
p2textoitemletra
p2textoitemletracont
p2textoletra
p2textoletracont
p2textoletraitem
p2textoletraitemcont
p2textomarcador
p2textomarcadorromano
p2textomarcadorletra
p2textomarcadorletracont
p2textomarcadoritem
p2textomarcadoritemcont
p2textomarcadorsubitem
p2textomarcadorsubitemcont
*/
.p2texto,
.p2textoitem,
.p2textoitemcont,
.p2textosubitem,
.p2textosubitemcont,
.p2textoitemletra,
.p2textoitemletracont,
.p2textoletra,
.p2textoletracont,
.p2textoletraitem,
.p2textoletraitemcont,
.p2textomarcador,
.p2textomarcadorromano,
.p2textomarcadorletra,
.p2textomarcadorletracont,
.p2textomarcadoritem,
.p2textomarcadoritemcont,
.p2textomarcadorsubitem,
.p2textomarcadorsubitemcont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}

.p2texto{
    margin: 0.5em 0 0.5em 0;
    text-indent: 1.5em;
}

ul.p2textoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 40px;
}
p.p2textoitem{
    margin: 0.5em 0 0.5em 40px;
}
p.p2textoitem::before {
    content: '';  /*content: '•';*/
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}

.p2textoitemcont{
    margin: 0em 0 0.5em 40px;
}

ul.p2textosubitem{
    list-style: none;
    margin: 0.5em 0 0.5em 3.5em;
}
ul.p2textosubitem li::before {
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}

p.p2textosubitem{
    margin: 0.5em 0 0.5em 3.5em;
}
p.p2textosubitem::before {
    content: ''; /*content: '•';*/
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textosubitemcont{
    margin: 0.5em 0 0.5em 3.5em;
}

.p2textoitemletra{
    margin: 0.5em 0 0.5em 4em;
}
.p2textoitemletracont{
    margin: 0.5em 0 0.5em 4em;
}

.p2textoletra{
    margin: 0.5em 0 0.5em 50px;
}
.p2textoletracont{
    margin: 0.5em 0 0.5em 50px;
}
ul.p2textoletraitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 65px;
}
p.p2textoletraitem{
    margin: 0.5em 0 0.5em 65px;
}
p.p2textoletraitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textoletraitemcont{
    margin: 0.5em 0 0.5em 65px;
}

.p2textomarcador{
    margin: 0.5em 0 0.5em 50px;
}
.p2textomarcadorromano{
    margin: 0.5em 0 0.5em 5.5em;
}

.p2textomarcadorletra{
    margin: 0.5em 0 0.5em 4.5em;
}
.p2textomarcadorletracont{
    margin: 0.5em 0 0.5em 4.5em;
}

ul.p2textomarcadoritem{
    list-style: disc;
    margin: 0.5em 0 0.5em 4em;
}
p.p2textomarcadoritem{
    margin: 0.5em 0 0.5em 4em;
}
p.p2textomarcadoritem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textomarcadoritemcont{
    margin: 0.5em 0 0.5em 4em;
}

ul.p2textomarcadorsubitem{
    list-style: none;
    margin: 0.5em 0 0.5em 5em;
}
ul.p2textomarcadorsubitem li::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
p.p2textomarcadorsubitem{
    margin: 0.5em 0 0.5em 5em;
}  
p.p2textomarcadorsubitem::before {
    content: ''; /*content: '•';*/
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2textomarcadorsubitemcont{
    margin: 0.5em 0 0.5em 5em;
}


/* QUESTÃO TEORIA */
/* 
p2questao
p2questaocont
p2questaoletra
p2questaoletracont
p2questaoletraitem
p2questaoletraitemcont
p2questaoitem
p2questaoitemcont
p2questaosubitem
p2questaosubitemcont
p2questaomarcador
p2questaomarcadorcont
*/

.p2questao,
.p2questaocont,
.p2questaoletra,
.p2questaoletracont,
.p2questaoletraitem,
.p2questaoletraitemcont,
.p2questaoitem,
.p2questaoitemcont,
.p2questaosubitem,
.p2questaosubitemcont,
.p2questaomarcador,
.p2questaomarcadorcont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}
.p2questao{
    margin: 0.5em 0;
}
.p2questaocont{
    margin: 0.5em 0;
}

.p2questaoletra{
    margin: 0.5em 0 0.5em 2em;
}
.p2questaoletracont{
    margin: 0.5em 0 0.5em 2em;
}

ul.p2questaoletraitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}
p.p2questaoletraitem{
    margin: 0.5em 0 0.5em 3em;
}
p.p2questaoletraitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}
.p2questaoletraitemcont{
    margin: 0.5em 0 0.5em 3em;
}

ul.p2questaoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p2questaoitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p2questaoitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}
.p2questaoitemcont{
    margin: 0.5em 0 0.5em 1em;
}

ul.p2questaosubitem{
    margin: 0.5em 0 0.5em 2em;
}
ul.p2questaosubitem li::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}
p.p2questaosubitem{
    margin: 0.5em 0 0.5em 2em;
}
p.p2questaosubitem::before {
    content: ''; /*content: '•';*/
    color: var(--verde1);
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}
.p2questaosubitemcont{
    margin: 0.5em 0 0.5em 2em;
} 
.p2questaomarcador{
    margin: 0.5em 0 0.5em 2em;
}
.p2questaomarcadorcont{
    margin: 0.5em 0 0.5em 2em;
}



/* ATIVIDADES */
/*
p2atv
p2atvcont
p2atvromano
p2atvromanocont
p2atvitem
p2atvitemcont
p2atvsubitem
p2atvsubitemcont
p2atvitemletra
p2atvitemletracont
p2atvletra
p2atvletracont
p2atvletramarcador
p2atvletramarcadorromano
p2atvletraromano
p2atvletraromanocont
p2atvletraitem
p2atvletraitemcont
p2atvletrasubitem
p2atvletrasubitemcont
p2atvletraitemromano
p2atvletraitemromanocont
p2atvmarcador
p2atvmarcadorcont
p2atvmarcadorromano
p2atvmarcadoritem
p2atvmarcadoritemcont
p2atvsomatoria
p2atvsomatoriacont
*/
.p2atv,
.p2atvcont,
.p2atvletramarcador,
.p2atvletramarcadorromano,
.p2atvromano,
.p2atvromanocont,
.p2atvitem,
.p2atvitemcont,
.p2atvsubitem,
.p2atvsubitemcont,
.p2atvitemletra,
.p2atvitemletracont,
.p2atvletra,
.p2atvletracont,
.p2atvletraromano,
.p2atvletraromanocont,
.p2atvletraitem,
.p2atvletraitemcont,
.p2atvletrasubitem,
.p2atvletrasubitemcont,
.p2atvletraitemromano,
.p2atvletraitemromanocont,
.p2atvmarcador,
.p2atvmarcadorcont,
.p2atvmarcadorromano,
.p2atvmarcadoritem,
.p2atvmarcadoritemcont,
.p2atvsomatoria,
.p2atvsomatoriacont{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: justify;
}

.p2atv{
    margin: 0.5em 0 0.5em 30px;
}
.p2atvcont{
    margin: 0.5em 0 0.5em 30px;
}
.p2atvletramarcador{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvletramarcadorromano{
    margin: 0.5em 0 0.5em 6em;
}
.p2atvromano{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvromanocont{
    margin: 0.5em 0 0.5em 4em;
}

ul.p2atvitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}
p.p2atvitem{
    margin: 0.5em 0 0.5em 3em;
}
p.p2atvitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2atvitemcont{
    margin: 0.5em 0 0.5em 3em;
}

ul.p2atvsubitem{
    margin: 0.5em 0 0.5em 4em;
}
ul.p2atvsubitem li::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
p.p2atvsubitem{
    margin: 0.5em 0 0.5em 4em;
}
p.p2atvsubitem::before {
    content: ''; /*content: '•';*/
    color: var(--verde1);
    font-size: 1.2em;
    margin: 0 0 0 -0.8em;
    position: absolute;
}
.p2atvsubitemcont{
    margin: 0.5em 0 0.5em 4em;
}

.p2atvitemletra{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvitemletracont{
    margin: 0.5em 0 0.5em 4em;
}

.p2atvletra{
    margin: 0.5em 0 0.5em 3em;
}
.p2atvletracont{
    margin: 0.5em 0 0.5em 3em;
}

.p2atvletraromano{
    margin: 0.5em 0 0.5em 5.1em;
}
.p2atvletraromanocont{
    margin: 0.5em 0 0.5em 5.1em;
}

ul.p2atvletraitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 4em;
}
p.p2atvletraitem{
    margin: 0.5em 0 0.5em 4em;
}
p.p2atvletraitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.3em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}
.p2atvletraitemcont{
    margin: 0.5em 0 0.5em 4em;
}

ul.p2atvletrasubitem{
    margin: 0.5em 0 0.5em 5em;
}
ul.p2atvletrasubitem li::before{
    content: '•';
    color: var(--verde1);
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -12px;
}
p.p2atvletrasubitem{
    margin: 0.5em 0 0.5em 5em;
}
p.p2atvletrasubitem::before {
    content: ''; /*content: '•';*/
    color: var(--verde1);
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -12px;
}
.p2atvletrasubitemcont{
    margin: 0.5em 0 0.5em 5em;
}

.p2atvletraitemromano{
    margin: 0.5em 0 0.5em 7em;
}
.p2atvletraitemromanocont{
    margin: 0.5em 0 0.5em 7em;
}

.p2atvmarcador{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvmarcadorcont{
    margin: 0.5em 0 0.5em 4em;
}
.p2atvmarcadorromano{
    margin: 0.5em 0 0.5em 5.5em;
}
ul.p2atvmarcadoritem{
    list-style: disc;
    margin: 0.5em 0 0.5em 5em;
}
p.p2atvmarcadoritem{
    margin: 0.5em 0 0.5em 5em;
}
p.p2atvmarcadoritem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}
.p2atvmarcadoritemcont{
    margin: 0.5em 0 0.5em 5em;
}

.p2atvsomatoria{
    margin: 0.5em 0 0.5em 5em;
}
.p2atvsomatoriacont{
    margin: 0.5em 0 0.5em 5em;
}



/*👉==================== TEXTOS PESO: intermediário ===================👈*/
/* TEXTOS INTERMEDIÁRIOS */
/*
p3intermediariotit
p3intermediario
p3intermediarioitem
p3intermediarioitemcont
p3intermediarioitemletra
p3intermediarioitemletracont
p3intermediarioletra
p3intermediarioletracont
p3intermediarionumero
p3intermediarionumerocont
p3intermediariomarcador
p3intermediariomarcadorcont
p3intermediariomarcadoritem
p3intermediariomarcadoritemcont
p3intermediariosemrecuo
p3intermediariosemrecuoitem
p3intermediariosemrecuoitemcont
p3intermediariosemrecuoletra
p3intermediariosemrecuoletracont
p3intermediariosemrecuonumero
p3intermediariosemrecuonumerocont
*/
.p3intermediariotit,
.p3intermediario,
.p3intermediarioitem,
.p3intermediarioitemcont,
.p3intermediarioitemletra,
.p3intermediarioitemletracont,
.p3intermediarioletra,
.p3intermediarioletracont,
.p3intermediarionumero,
.p3intermediarionumerocont,
.p3intermediariomarcador,
.p3intermediariomarcadorcont,
.p3intermediariomarcadoritem,
.p3intermediariomarcadoritemcont,
.p3intermediariosemrecuo,
.p3intermediariosemrecuoitem,
.p3intermediariosemrecuoitemcont,
.p3intermediariosemrecuoletra,
.p3intermediariosemrecuoletracont,
.p3intermediariosemrecuonumero,
.p3intermediariosemrecuonumerocont{
    font-family: var(--texto);
    font-size: var(--pesoIntermediario);
    text-align: left;
    max-width: 100%;
}
.p3intermediariotit{
    font-family: var(--titulo);
    font-size: var(--pesoPadrao);
    font-weight: bold;
    margin: 0.5em 0;
}
.p3intermediario{
    margin: 0.5em 0;
}

ul.p3intermediarioitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
p.p3intermediarioitem{
    margin: 0.5em 0 0.5em 1em;
}
p.p3intermediarioitem::before{
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px ;
    position: absolute;
    margin:0 0 0 -1em;
    }
.p3intermediarioitemcont{
    margin: 0.5em 0 0.5em 1em;
}
.p3intermediarioitemletra{
    margin: 0.5em 0 0.5em 3.5em;
}
.p3intermediarioitemletracont{
    margin: 0.5em 0 0.5em 3.5em;
}

.p3intermediarioletra{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediarioletracont{
    margin: 0.5em 0 0.5em 2em;
}

.p3intermediarionumero{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediarionumerocont{
    margin: 0.5em 0 0.5em 2em;
}

.p3intermediariomarcador{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediariomarcadorcont{
    margin: 0.5em 0 0.5em 2em;
}
ul.p3intermediariomarcadoritem{
    list-style: disc;
    margin: 0.5em 0 0.5em 3em;
}
p.p3intermediariomarcadoritem{
    margin: 0.5em 0 0.5em 3em;
}
.p3intermediariomarcadoritemcont{
    margin: 0.5em 0 0.5em 3em;
}

/* TEXTOS INTERMEDIÁRIOS SEM RECUO */
.p3intermediariosemrecuo{
    margin: 0.5em 0;
}
ul.p3intermediariosemrecuoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1.5em;
}
p.p3intermediariosemrecuoitem{
    margin: 0.5em 0 0.5em 1.5em;
}
p.p3intermediariosemrecuoitem::before {
    content: ''; /*content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -12px;
}

.p3intermediariosemrecuoitemcont{
    margin: 0.5em 0 0.5em 1.5em;
}

.p3intermediariosemrecuoletra{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediariosemrecuoletracont{
    margin: 0.5em 0 0.5em 2em;
}

.p3intermediariosemrecuonumero{
    margin: 0.5em 0 0.5em 2em;
}
.p3intermediariosemrecuonumerocont{
    margin: 0.5em 0 0.5em 2em;
}

/* TEXTOS CITADOS - CITAÇÃO */
/*
p3citacaomanchete
p3citacaotit1
p3citacaotit2
p3citacaoolho
p3citacaosemrecuo
p3citacao
p3citacaoitem
p3citacaoitemcont
p3citacaoletra
p3citacaoletracont
p3citacaonumero 
p3citacaonumerocont
*/
.p3citacaomanchete,
.p3citacaotit1,
.p3citacaotit2,
.p3citacaoolho,
.p3citacaosemrecuo,
.p3citacao,
.p3citacaoitem,
.p3citacaoitemcont,
.p3citacaoletra,
.p3citacaoletracont,
.p3citacaonumero,
.p3citacaonumerocont{
    font-family: var(--citacao);
    font-size: var(--pesoPadrao);
}

.p3citacaomanchete{
    font-weight: bold;
    font-size: var(--peso4);
    text-align: center;
    margin: 0.5em 0;
}
.o3jornalfundo>.p3citacaomanchete {
    font-weight: bold;
    font-size: var(--peso4);
    text-align: center;
    margin: 0.5em 0;
    padding-bottom: 1em;
    border-bottom: 1px solid #A7ACA8;
}

.p3citacaotit1{
    font-weight: bold;
    font-size: var(--peso5);
    text-align: center;
    margin: 0.5em 0;
}
.p3citacaotit2{
    font-weight: bold;
    font-size: var(--peso6);
    text-align: center;
    margin: 0.5em 0;
}

.p3citacaoolho{
    font-style: italic;
    font-weight: 200;
    text-align: center;
    margin: 0.5em 0;
}

.p3citacaosemrecuo{
    font-family: var(--pesoPadrao);
    font-family: var(--citacao);
    text-align: justify;
    margin: 0.5em 0;
} /* TODO: ELEMENTO NOVO */

.p3citacao{
    font-family: var(--pesoPadrao);
    font-family: var(--citacao);
    text-align: justify;
    text-indent: 1.5em;
    margin: 0.5em 0;
}

ul.p3citacaoitem{
    list-style: disc;
    margin: 0.5em 0 0.5em 1em;
}
blockquote.p3citacaoitem{
    margin: 0.5em 0 0.5em 1em;
}
blockquote.p3citacaoitem::before {
    content: ''; /*content: '•';*/
    font-size: 1em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -14px;
}

.p3citacaoitemcont{
    margin: 0.5em 0 0.5em 1em;
}

.p3citacaoletra{
    margin: 0.5em 0 0.5em 2em;
}
.p3citacaoletracont{
    margin: 0.5em 0 0.5em 2em;
}

.p3citacaonumero{
    text-align: justify;
    margin: 0.5em  0  0.5em 30px;

}  
.p3citacaonumerocont{
    text-align: justify;
    margin: 0.5em  0  0.5em 30px;
}



/*👉==================== TEXTOS PESO: menor ===========================👈*/
/* Ícone OED */
.p4iconeoed{}

/* Legenda */
.p4legenda{}
.p4legendanegativo{
    color: var(--corprof);
}

/* Crédito geral */
.p4credgeral{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: right;
    margin: 0.5em 0;
}

/* Cotas */
.p4cota{}
.p4cotamarcador{}

/* Vocabulário */
.p4vocabulario{
    margin: 1em 0;
}

/* Glossário */
.p4glossario{}

/* Recado imagem e medida animal */
.p4recadoimagem{
    font-family: var(--texto);
    font-size: var(--pesoMenor);
    text-align: right;
}

/* Crédito Imagem*/
.p4credimagem{
    background: #3EE0CE;
    font-family: var(--texto);
    font-size: var(--pesoMenor);
    text-align: right;
}

/* Cuidado dica */
.p4cuidadodica{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: left;
    margin: 0.5em 0;
}
ul.p4cuidadodicaitem{
    list-style:disc;
    margin: 0.5em 0 0.5em 1em ;
}
p.p4cuidadodicaitem{
    margin: 0.5em 0 0.5em 1em ;
}
p.p4cuidadodicaitem::before{
    content: ''; /* content: '•';*/
    font-size: 1.2em;
    width: 10px;
    height: 10px;
    position: absolute;
    margin: 0 0 0 -0.9em;
}
.p4cuidadodicaitemcont{
    margin: 0.5em 0 0.5em 1em ;
} 

/* Respostas */
/*  
p4resposta
*/
.p4resposta{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    color: var(--corprof);
    text-align: justify;
    margin: 0.2em 0;
}

/*👉TEXTOS SUPORTE👈*/
/* Balão de fala */
/* 
p5balao
*/
.p5balao{
    font-family: var(--texto);
    font-size: var(--pesoPadrao);
    text-align: center;
}

/* Ajuste de alinhamento de imagem resolução e gabarito*/
/* 
p5figuraespacamentogabreso
*/
.p5figuraespacamentogabreso{
    margin: 0.5em 0;
}

/* MARCADORES */
/* 
p5marcador
p5marcadornegativo
p5marcadorromano
p5marcador2
p5marcador2negativo
p5marcador2romano
p5marcadorcaixa
p5marcadorcaixanegativo
p5marcadorcaixa2
p5marcadorcaixa2negativo
p5marcadorcaixa3
p5marcadorcaixa3negativo
p5marcadorquestao
*/
.p5marcador{
    background: var(--preto);
    color: var(--branco);
    font-weight: bold;
    height: 25px;
    position: absolute;
    text-align: center;
    margin: 0 0 0 -30px;
    width: 25px;
}
.p5marcadornegativo{}
.p5marcadorromano{
    background: var(--preto);
    color: var(--branco);
    font-weight: bold;
    height: 25px;
    position: absolute;
    text-align: center;
    margin: 0 0 0 -40px;
    width: 35px;
    padding: 0 4px;
}

.p5marcador2{
    background: var(--preto);
    color: var(--branco);
    font-weight: bold;
    height: 25px;
    position: absolute;
    text-align: center;
    margin: 0 0 0 -30px;
    width: 25px;
}
.p5marcador2negativo{}
.p5marcador2romano{
    background: var(--amarelo3);
    border-radius: 0.4em;
    color: var(--preto);
    font-weight: bold;
    height: 28px;
    position: absolute;
    text-align: center;
    margin: 0 0 0 -40px;
    width: 35px;
    padding: 4px 0px 0 0px;
}
figure>.p5marcador {
    background: var(--preto);
    color: var(--branco);
    font-weight: bold;
    height: 25px;
    text-align: center;
    margin: 0 0 0 0px;
    position: static;
    width: 25px;
}
.p5marcadorcaixa{
    background: var(--verde1);
    border-radius: 0em 0 0 0;
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: bold;
    width: max-content;
    max-width: 100%;
    padding: 0 1em 0.2em 1em;
    margin: 0.5em 0;
}
.p5marcadorcaixanegativo{}

.p5marcadorcaixa2{
    background: var(--preto);
    border-radius: 0.6em;
    color: var(--branco);
    font-family: var(--titulo);
    font-weight: bold;
    padding: 0em 0.5em 0.2em 0.5em;
    width: max-content;
    margin: 1em 0;
}
.p5marcadorcaixa2negativo{}

.p5marcadorcaixa3{}
.p5marcadorcaixa3negativo{}


.p5marcadorquestao{
    background: var(--preto);
    color: var(--branco);
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

/* ABERTURA DE CAPITULO */
/* 
p5aberturaobjtit
p5aberturaobjitem
p5aberturaobjtexto
*/
.p5aberturaobjtexto{}
.p5aberturaobjtit{}
.p5aberturaobjitem{}

/*👉ESTILOS EXCLUSIVOS DO DIGITAL (Link)👈*/
/* 
d0grouptit
d0icoatencao
d0sumariosecinicial
d0semfundo
d0bgbranco
d0boxabertura
d0boxabertura2
d0imgabertura
d0tit1
d0tit2
d0boxaberturatit
d0materiaistit
d0secatividade
d0secatividadetit
d0anote
d0estrategiastit
d0ods
d0atvanote
d0perfil
d0chat
d0conversa1 
d0conversa2
d0fotoperfil
d0mensagem
d0name 
d0texto
d0hora
d0textarea
d0input
d0carimbo 
d0linha
d0boxpoema
d0separabloco
*/
.d0grouptit{}
.d0icoatencao{}
.d0sumariosecinicial{}
.d0boxsumariotit{}
.d0semfundo{}
.d0bgbranco{
    background: var(--branco);
}
.d0boxabertura{}
.d0boxabertura2{}
.d0imgabertura{}
.d0tit1{}
.d0tit2{}
.d0boxaberturatit{}
.d0materiaistit{}
.d0secatividade{}
.d0secatividadetit{}
.d0anote{}
.d0estrategiastit{}
.d0ods{}
.d0atvanote{}

.d0perfil{}
.d0chat{}
.d0conversa1{} 
.d0conversa2{}
.d0fotoperfil{}
.d0mensagem{}
.d0name{} 
.d0texto{}
.d0hora{}
.d0textarea{}
.d0input{}
.d0carimbo::after{
    background: url(../images/pv_modelo.svg) no-repeat;
    content: '';
    background-size: 100%;
    width: 100px;
    height: 40px;
    position: absolute;
    margin: 0 0 0 0;
    z-index: 10;
}
.d0linha{
    border-bottom: 1px solid black;
    width: 50%;
    display: inline-block;
    max-width: 100%;
}
.d0boxpoema{
    padding: 1em 3em !important;    
 }
.d0separabloco{
    margin: 2em 0 0 0 !important;
}
.d0boxpoema>blockquote{
    line-height: 2em;
}


/*👉ESTILOS DIGITAL: página crédito👈*/
/* 
d1pagecreditos
d1nomeautor
d1cargoresponsavel1
d1cargoresponsavel2
d1fichacatalografica
d1infoeditora
d1infoimpressao
*/

.d1pagecreditos{
    border: 1px solid var(--preto);
    padding: 1em 1.5em;
}
.d1nomeautor{
    margin: 1em 0 0.5em 0;
}
.d1cargoresponsavel1{
    margin: 1.5em 0;
}
.d1cargoresponsavel2{
    margin: 1.5em 0;
}
.d1fichacatalografica{}
.d1infoeditora{
    text-align: center;
    margin: 1.5em 0;
}
.d1infoimpressao{
    text-align: center;
    margin: 1.5em 0;
}
.d1infoimpressao>p:first-child{
    border: 1px solid var(--preto);
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
}

/* d2hyperlinkoed */
.d2hyperlinkoed{}

/*👉ESTILOS DE CARACTER👈*/
/*👉C0: Estilos “reservados” (uso em Nested Styles)👈*/
/* Sumário */
/* 
c0sumariosecao1
c0sumariosecao2
c0sumariosecao3
c0sumariosecao4
c0sumariosecao5
*/
.c0sumariosecao1{}
.c0sumariosecao2{}
.c0sumariosecao3{}
.c0sumariosecao4{}
.c0sumariosecao5{}


/* Geral */
/* 
c0destaqueletra
c0destaqueletracitacao
c0destaquenumero
c0destaquenumerocitacao 👉Estilo de caracter utilizado na citacao 
c0destaqueromano
c0destaquequestaonumero
c0destaquesomatoria
c0bulletnumitem
c0bulletsubitem  👉Estilo de caracter utilizado no manual em U 
c0destaqueuni
c0destaquecap 👉Estilo de caracter utilizado no sumário mp  
c0destaquesecao 👉Estilo de caracter utilizado no sumário mp 
*/


.c0destaqueletra{
    font-weight: bold;
    width: 30px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -30px;
    text-align: center;
}
.c0destaqueletracitacao{
    font-weight: bold;
    width: 30px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -30px;
    text-align: center;
}
.c0destaquenumero{
    font-weight: bold;
    width: 30px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -30px;
    text-align: center;
}
.c0destaquenumerocitacao{
    font-weight: bold;
    position: absolute;
    width: 30px;
    height:20px;
    margin: 0 0 0 -40px;
} /* Estilo de caracter utilizado na citacao */ 
.c0destaqueromano{
    font-weight: bold;
    width: 36px;
    height: 36px;
    position: absolute;
    margin: 0 0 0 -40px;
    text-align: right;
}
.c0destaquequestaonumero{
    color: var(--verde1);
    font-family: var(--titulo);
    font-weight: bold;
}

.c0destaquesomatoria{
    font-weight: 550;
    width: 30px;
    height: 24px;
    position: absolute;
    margin: 0 0 0 -40px;
}
.c0bulletnumitem{
    width: 20px;
  height: 24px;
  position: absolute;
  margin: 0 0 0 -22px;
  font-size: 1.2em;
  text-align: center;
}
.c0bulletsubitem{} /* Estilo de caracter utilizado no manual em U */ 
.c0destaqueuni{}
.c0destaquecap{}/* Estilo de caracter utilizado no sumário mp */ 
.c0destaquesecao{}/* Estilo de caracter utilizado no sumário mp */ 


/*👉C1: Estilos de bold e itálico👈*/
/* 
c1bold
c1italico
c1bolditalico
c1citacaobold
c1citacaoitalico
c1citacaobolditalico
*/
.c1bold{
    font-weight: bold;
}
.c1italico{
    font-style: italic;
}
.c1bolditalico{
    font-weight: bold;
    font-style: italic;
}

.c1citacaobold{
    font-weight: bold;
    color: var(--corprof);
}
.c1citacaoitalico{
    color: var(--corprof);
    font-style: italic;
}
.c1citacaobolditalico{
    color: var(--corprof);
    font-style: italic;
    font-weight: bold;
}

/*👉C2: Estilos de Respostas👈*/
/* 
c2respostabold
c2respostaitalico
c2respostabolditalico
*/
.c2respostabold{
    color: var(--corprof);
    font-weight: bold;    
}
.c2respostaitalico{
    color: var(--corprof);
    font-style: italic;
}
.c2respostabolditalico{
    color: var(--corprof);
    font-style: italic;
    font-weight: bold;
}


/*👉C3: Estilos de Acessibilidade👈*/
/* 
c3idioma
c3idiomabold
c3idiomaitalico
c3idiomabolditalico
c3idiomasimuladorhiperlink
*/
.c3idioma{
    background: var(--vermelho2);
}
.c3idiomabold{
    font-weight: bold;
}
.c3idiomaitalico{
    font-style: italic;
}
.c3idiomabolditalico{
    font-weight: bold;
    font-style: italic;
}
.c3idiomasimuladorhiperlink{
    color: var(--link);
    font-size: var(--pesoPadrao);
    text-decoration: underline;
}

/* (exceção no INDD - overprint) */ 
/* 
c3idiomaresposta
c3idiomaboldresposta
c3idiomaitalicoresposta
c3idiomabolditalicoresposta
*/
.c3idiomaresposta{
    background: var(--vermelho2);
    color: var(--corprof);    
}
.c3idiomaboldresposta{
    color: var(--corprof);
    font-weight: bold;    
}
.c3idiomaitalicoresposta{
    color: var(--corprof);
    font-style: italic;
}
.c3idiomabolditalicoresposta{
    color: var(--corprof);
    font-style: italic;
    font-weight: bold;
}

/* idioma vocabulario */
/* 
c3idiomavocabulariodestaque
c3idiomavocabulariodestaqueitalico
*/
.c3idiomavocabulariodestaque{}
.c3idiomavocabulariodestaqueitalico{}

/*👉C4: Estilos de Suporte👈*/
/* 
c4fonema
c4lacuna
c4ordinal
c4ordinalbold
c4ordinalnegativo
c4ordinalresposta
c4ordinalrespostabold
c4simuladorhiperlink
c4linhalacunaresposta
c4vocabulariodestaque
c4vocabulariodestaqueitalico
c4glossariodestaque
c4glossariodestaqueitalico
c4textotachado
*/
.c4fonema{
    font-family: var(--fonema);
}
.c4lacuna{
    font-family: var(--ordinal);
    font-size: 1.4em;
    vertical-align: baseline;
}
.c4ordinal{
    font-family: var(--ordinal);
}
.c4ordinalbold{
    font-family: var(--ordinal);
    font-weight: bold;
}
.c4ordinalnegativo{
    font-family: var(--ordinal);
}
.c4ordinalresposta{
    color: var(--corprof);
    font-family: var(--ordinal);
}
.c4ordinalrespostabold{
    color: var(--corprof);
    font-family: var(--ordinal);
    font-weight: bold;
}
.c4simuladorhiperlink{
    color: var(--link);
    font-size: var(--pesoPadrao);
    text-decoration: underline;
}
.c4linhalacunaresposta{}
.c4vocabulariodestaque{
    border-bottom: 2px solid var(--verde1);
    font-weight: bold;
}
.c4vocabulariodestaqueitalico{
    border-bottom: 2px solid var(--verde1);
    font-weight: bold;
    font-style: italic;
}
.c4glossariodestaque{}
.c4glossariodestaqueitalico{}

.c4textotachado{
    text-decoration: line-through;
}

/*👉C5: Estilos de  👈*/
.c5destaqueverbetedicionario{
    color: var(--link);
}




/* ESTILO DE OBJETO */

/*👉O0: Estilos “reservados” (Essenciais em todo projeto)👈*/

/* Abertura  estilos esclusivos do digital*/
.boxabertura
.imgAbertura
/* Abertura  estilos esclusivos do digital*/

/* Estilos de objeto: APRESENTAÇÃO E CONHEÇA */
/* 
o0mpg
o0facsimile
o0secconheca
o0secapresentacao
o0secconheca2
o0aberturabox
o0aberturaatvbox
o0aberturaobjbox
o0aberturalegenda
o0aberturaimgmini
o0aberturarespostas
o0sec1
o0sec2
o0sec3
o0sec4
o0sec5
o0sec6 
o0sec7
o0sec8
o0sec9
o0sec10
o0sec1a
O0Sec2a
o0sec3a
o0sec4a
o0sec5a
o0sec6a
o0sec7a
o0sec8a
o0sec9a
o0sec10a
o0sec1box
o0sec1box2
o0sec2box
o0sec2box2
o0sec3box
o0sec3box2
o0sec4box
o0sec4box2
o0sec5box
o0sec5box2
o0sec6box
o0sec6box2
o0sec7box
o0sec7box2
o0sec8box
o0sec8box2
o0sec9box
o0sec9box2
o0sec10box
o0sec10box2
o0parasabermais
o0referencias
o0pronuncia
o0sugestcomp
o0recadoimagembox
o0medidaanimalbox
o0boxpalavra
o0pronunciation 👉 Especifico de inglês
*/
.o0mpg{}
.o0facsimile{}
.o0secconheca{}
.o0secapresentacao{}
.o0secconheca2{}
.o0aberturabox{}
.o0aberturaatvbox{}
.o0aberturaobjbox{}
.o0aberturalegenda{}
.o0aberturaimgmini{}
.o0aberturarespostas{}
.o0sec1{}
.o0sec2{}
.o0sec3{}
.o0sec4{}
.o0sec5{}
.o0sec6{}  
.o0sec7{}
.o0sec8{}
.o0sec9{}
.o0sec10{}
.o0sec1a{}
.o0sec2a{}
.o0sec3a{}
.o0sec4a{}
.o0sec5a{}
.o0sec6a{}  
.o0sec7a{}
.o0sec8a{}
.o0sec9a{}
.o0sec10a{}
.o0sec1box{}
.o0sec1box2{}
.o0sec2box{}
.o0sec2box2{}
.o0sec3box{}
.o0sec3box2{}
.o0sec4box{}
.o0sec4box2{}
.o0sec5box{}
.o0sec5box2{}
.o0sec6box{}
.o0sec6box2{}
.o0sec7box{}
.o0sec7box2{}
.o0sec8box{}
.o0sec8box2{}
.o0sec9box{}
.o0sec9box2{}
.o0sec10box{}
.o0sec10box2{}
.o0parasabermais{}
.o0referencias{}
.o0pronuncia{}
.o0sugestcomp{}
.o0recadoimagembox{}
.o0medidaanimalbox{}
.o0boxpalavra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2em 1em;
    background: var(--cinza);
    justify-content: center;
    border-radius: 0.5em;
    padding: 1em;
    width: max-content;
    max-width: 100%;
    margin: 1em 0;
}
.o0boxpalavra li::before {
    content: '•';
    width: 10px;
    text-align: center;
    position: absolute;
    margin: 0 0 0 -13px;
}
.o0boxpalavra li:first-child::before {
    content: '';
}

/*👉O1: Estilos para boxes genéricos, suportes e papeletas👈*/
/* 
o1boxfundobranco
o1boxfundoazul1
o1boxfundoazul2
o1boxfundoroxo1
o1boxfundoroxo2
o1boxfundoamarelo1
o1boxfundolaranja1
o1boxfundolaranja2
o1boxfundoverde1
o1boxfundoverde2
o1boxfundoturquesa1
o1boxfundoturquesa2
o1fioindicacaoroxo1
o1fioindicacaoverde1
o1boxfioroxo1
o1boxfioazul1
o1fiocotapreto
o1setaroxo1
o1setaazul1
o1setaverde1
o1contornoimagem  👉 Cynthia: atualizar lista de stilos
o1acabamentoimagem
o1contornoimagembranco
o1zoomcontorno
*/
.o1boxfundobranco{}
.o1boxfundoazul1{}
.o1boxfundoazul2{}
.o1boxfundoroxo1{}
.o1boxfundoroxo2{}
.o1boxfundoamarelo1{}
.o1boxfundolaranja1{}
.o1boxfundolaranja2{}
.o1boxfundoverde1{}
.o1boxfundoverde2{}
.o1boxfundoturquesa1{}
.o1boxfundoturquesa2{}
.o1fioindicacaoroxo1{}
.o1fioindicacaoverde1{}
.o1boxfioroxo1{}
.o1boxfioazul1{}
.o1fiocotapreto{}
.o1setaroxo1{}
.o1setaazul1{}
.o1setaverde1{}
.o1contornoimagem{
    border: 1px solid var(--preto);
}
.o1acabamentoimagem{
    border-radius: 1em;
}
.o1contornoimagembranco{}
.o1zoomcontorno{}


/*👉O2: Gráficos e mapas👈*/
/* 
o2mapabox
o2mapaescala
o2mapaescalabox
o2graficobox
o2esquemabox
*/
.o2mapabox{}
.o2mapaescala{}
.o2mapaescalabox{}
.o2graficobox{}
.o2esquemabox{}

/*👉O3: Jornal e Citação👈*/
/* 
o3jornalfundo
o3fiocitacao
o3fiovocabulario
*/
.o3jornalfundo{
    background: var(--cinza);
    padding: 1em;
    border: 1px solid #A7ACA8;
    margin: 1em 0;
}
.o3fiocitacao{}
.o3fiovocabulario{}


/*👉O4: Boxes específicos👈*/
/* 
o4questaobox
o4ficha
o4ficha2
o4boxinfo
o4boxmateriais
o4balao
o4balaobranco
o4balaopensamento
o4balaopensamentobranco
o4cuidadobox
o4dicabox
o4dicaboxnegativo
o4autorbox
o4atencaobox
o4conceitobox
o4avaliacaobox
o4vocabulariobox
o4etapabox
o4exemplobox
o4intermediariobox
o4destaquepalavrabox
o4destaquepalavrafio
o4recadoimagem1
o4recadoimagem2
o4recadoimagem3
o4recadoimagem4
*/
.o4questaobox{}
.o4ficha{}
p.o4ficha {
    border: 3px solid var(--cinza);
    border-radius: 0.5em;
    line-height: 1.1em;
    padding: 0.4em 0.5em 0em 0.5em;
    width: max-content;
    margin: 0.5em;
}
ul.o4ficha{
    display:  flex;
    justify-content: left;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
}
ul.o4ficha li{
    border: 3px solid var(--cinza);
    border-radius: 0.5em;
    line-height: 1.1em;
    padding: 0.4em 0.5em 0em 0.5em;
    width: max-content;
}
span.o4ficha {
    border: 3px solid var(--cinza);
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    width: max-content;
    margin: 0em;
}
p.o4ficha2 {
    border: 3px solid var(--preto_);
    border-radius: 0.5em;
    line-height: 1.1em;
    padding: 0.4em 0.5em 0em 0.5em;
    width: max-content;
    margin: 0.5em;
}
ul.o4ficha2{
    display:  flex;
    justify-content: left;
    gap: 1em;
    flex-wrap: wrap;
    margin: 1em 0;
}
ul.o4ficha2 li{
    border: 3px solid var(--preto_);
    border-radius: 0.5em;
    line-height: 1.1em;
    padding: 0.4em 0.5em 0em 0.5em;
    width: max-content;
    

}

span.o4ficha2 {
    border: 3px solid var(--preto_);
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    width: max-content;
    margin: 0em;
}
.o4boxinfo{}
.o4boxmateriais{
    margin: 1em 0;
}
.o4balao, .o4balaopensamento {
    background: var(--amarelo2);
    border-radius: 2em ;
    padding: 1.2em;
    width: 250px;
    margin: 1em 0 2em 0;
}

.o4balao.direita::after{
    content: '';
    background: url(../images/pv_o4balao_dir.svg) no-repeat;
    background-size: 100%;
    width: 15px;
    height:30px;
    position: absolute;
    margin: 10px 0 0 -50px;
}
.o4balaopensamento.direita::after{
    content: '';
    background: url(../images/pv_o4balaopensamento_dir.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height:30px;
    position: absolute;
    margin: 15px 0 0 -50px;
}

.o4balao.esquerda::after{
    content: '';
    background: url(../images/pv_o4balao_esq.svg) no-repeat;
    background-size: 100%;
    width: 15px;
    height:30px;
    position: absolute;
    margin: 10px 0 0 40px;
}

.o4balaopensamento.esquerda::after{
    content: '';
    background: url(../images/pv_o4balaopensamento_esq.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height:30px;
    position: absolute;
    margin: 15px 0 0 40px;
}

.o4balaobranco, .o4balaopensamentobranco  {
    background: var(--branco);
    border-radius: 2em ;
    padding: 1.2em;
    width: 250px;
    margin: 1em 0 2em 0;
}

.o4balaobranco.direita::after{
    content: '';
    background: url(../images/pv_o4balaobranco_dir.svg) no-repeat;
    background-size: 100%;
    width: 15px;
    height:30px;
    position: absolute;
    margin: 10px 0 0 -50px;
}

.o4balaobranco.esquerda::after{
    content: '';
    background: url(../images/pv_o4balaobranco_esq.svg) no-repeat;
    background-size: 100%;
    width: 15px;
    height:30px;
    position: absolute;
    margin: 10px 0 0 40px;
}

.o4balaopensamentobranco.direita::after{
    content: '';
    background: url(../images/pv_o4balaopensamentobranco_dir.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height:30px;
    position: absolute;
    margin: 15px 0 0 -50px;
}

.o4balaopensamentobranco.esquerda::after{
    content: '';
    background: url(../images/pv_o4balaopensamentobranco_esq.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height:30px;
    position: absolute;
    margin: 15px 0 0 40px;
}
.o4cuidadobox{
    background: var(--cinza);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em 0;
}
.o4dicabox{}
.o4dicaboxnegativo{}
.o4autorbox{}
.o4atencaobox{}
.o4conceitobox{
    background: var(--cinza);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em 0;
}
.o4avaliacaobox{}
.o4vocabulariobox{}
.o4etapabox{}
.o4exemplobox{}
.o4intermediariobox{}
.o4destaquepalavrabox{}
.o4destaquepalavrafio{}
.o4recadoimagem1{}
.o4recadoimagem2{}
.o4recadoimagem3{}
.o4recadoimagem4{}

/*👉O5: Papeletas e papelaria👈*/
/* 
o5bilhete1
o5bilhete2
o5nota1
o5nota2
o5nota3
o5postit1
o5postit2
o5postit3
o5papeleta1
o5papeleta2
o5passoapasso
o5passoapassocheck
o5passoapassosec
o5prancheta
o5lousa
o5quadrobranco
o5moldura
o5navegadorbarra
o5navegadorfundo
o5verbetedicionario
o5curriculo
o5email
o5email2
o5trechopeca
o5revista
o5socialinsta
o5redesocial
o5redesocial2
*/
.o5bilhete1{}
.o5bilhete2{}
.o5nota1{}
.o5nota2{}
.o5nota3{}
.o5postit1{}
.o5postit2{}
.o5postit3{}
.o5papeleta1{}
.o5papeleta2{}
.o5passoapasso{}
.o5passoapassocheck{}
.o5passoapassosec{}
.o5prancheta{}
.o5lousa{}
.o5quadrobranco{}
.o5moldura{}
.o5navegadorbarra{}
.o5navegadorfundo{}
.o5verbetedicionario{}
.o5curriculo{}
.o5email{}
.o5email2{}
.o5trechopeca{}
.o5revista{}
.o5socialinsta{}
.o5redesocial{}
.o5redesocial2{}


/*👉06: Elistos para Fluxograma👈*/
/* 
o6fluxogramaseta
o6fluxogramainiciofim
o6fluxogramaacao
o6fluxogramadecisao
*/
.o6fluxogramaseta{}
.o6fluxogramainiciofim{}
.o6fluxogramaacao{}
.o6fluxogramadecisao{}

/*👉OE: Elementos vindos da editora👈*/
/* 
oemestrategias
oemestrategias2
oemamplieseurepertoriobox
*/
.oemestrategias{}
.oemestrategias2{}
.oemamplieseurepertoriobox{}

/* ESTILOS ESPECIFICOS */
.e0altura{
    min-height: 50px;
}

/*MEDIA QUERY*/
/*👉Versão Mobile Cel👈*/
@media screen and (min-width: 300px) and (max-width: 700px) {
     main {
        max-width: 100%;
        margin: 0 10px;
    }

      /* COLUNAS E ALINHAMENTO */
      .col2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .col2c {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;
        max-width: 100%;
    }

    .col2s {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
    }

    .largura25 {
        width: 100% !important;
    }

    .largura45 {
        width: 100% !important;
    }

    .largura33 {
        width: 100% !important;
    }

    .d0box_aluno {
        padding: 0.5em 0 1em 0;
    }
    .alinhamarcador{
        max-width: 81% !important;
        margin-left:3em !important;
    } 
    .alinhapalavras{
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 6 colunas de tamanho igual */
        gap: 10px; /* Espaçamento entre os itens */
    }
}

/*👉Versão Mobile tablet👈*/
@media screen and (min-width: 720px) and (max-width: 1024px) {}

/*👉Versão Desktop👈*/
@media screen and (min-width: 1200px) {}

/*👉Versão IMPRESSÃO👈*/
@media print and (max-height: 280mm) {}